body {
  width: 100vw;
  margin: 0;
  background: url(../img/background.png), lightgray 0% 0% / 50px 50px repeat;
}

.parent {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr 7fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.menuTop {
  z-index: 10;
  height: 111px;
  grid-area: 1 / 1 / 2 / 3;
  border-bottom: 1px solid #09f;
  background: linear-gradient(
      270deg,
      rgba(204, 0, 255, 0.35) 0.01%,
      rgba(0, 0, 0, 0.2) 3.65%,
      rgba(0, 0, 0, 0.2) 96.35%,
      rgba(204, 0, 255, 0.35) 100%
    ),
    linear-gradient(
      180deg,
      #09f -15.31%,
      #000 21.8%,
      #02060b 83.67%,
      #09f 116.67%
    );
  display: flex;
  align-items: center;
}

.mainPage {
  height: 79px;
  width: 70px;
  margin-left: 5em;
  margin-right: 10em;
  align-items: center;
}

.mainPage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@font-face {
  font-family: "GlichInside"; /* Nombre que le das a tu fuente */
  src: url("./Fuentes/glitch_inside/Glitch\ inside.otf");
  /* Puedes agregar más formatos según sea necesario (woff, woff2, etc.) */
}

.breadcrumb {
  color: white;
  text-align: center;
  font-family: GlichInside;
  padding-right: 45em;
}

.search-container {
  text-align: center;
  border-radius: 50px;
  background: #d9d9d9;
  display: flex;
  margin-right: 20em;
}

input[type="text"] {
  padding: 10px;
  width: 200px;
  border-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
  background: #d9d9d9;
}

button {
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  border-left: solid black 0.1em;
  background: #d9d9d9;
}
button > img {
  width: 22.207px;
  height: 25.379px;
}

button:hover {
  background-color: #555;
}

.carrito > img {
  width: 57px;
  height: 57px;
  margin-right: 5em;
}

.perfil {
  width: 57px;
  height: 57px;
}

.menuLeft {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 172px;
  grid-area: 2 / 1 / 3 / 2;
  border-right: 1px solid #c0f;
  background: linear-gradient(
      180deg,
      rgba(0, 153, 255, 0.35) 0%,
      rgba(0, 0, 0, 0.2) 4.17%,
      rgba(0, 0, 0, 0.2) 95.83%,
      rgba(0, 153, 255, 0.35) 100%
    ),
    linear-gradient(90deg, #c0f -12.92%, #000 15.92%, #000 79.62%, #c0f 115.83%);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5em;
}

ul {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px;
}

li {
  text-align: left;
  list-style: none;
  padding-bottom: 10px;
}

label {
  font-size: small;
}

.body {
  grid-area: 2 / 2 / 3 / 3;
}

.body > h1,
.body > div {
  color: white;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.categoria {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.flecha {
  width: 95px;
  height: 95px;
}

.tarjeta {
  height: 384px;
  width: 224px;
  background-color: #181a43;
  border-radius: 20px;
  border: solid black 0.2em;
  margin-bottom: 30px;
}

.tarjeta a {
  text-decoration: none;
}

.tarjeta img {
  width: 224px;
  height: 304.083px;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 1px solid #000;
}

.tarjeta .info {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 40px 40px;
  color: white;
  font-size: small;
}
.tarjeta .info * {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.tarjeta:hover {
  transform: scale(1.1);
}
