body {
  width: 100wv;
  height: 100vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablecontainer {
  width: 50em;
  height: 50em;
  border-radius: 5px;
  border: black solid 0.1em;
}

table {
  width: 100%;
  height: 100%;
}

table,
td {
  border: solid black 0.1em;
  border-collapse: collapse;
}

td{
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  margin: auto;
  background-color: rgb(235, 235, 235);
}

td:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%  {background-color: rgb(129, 187, 117);}
  50%  {background-color: rgb(247, 85, 85);}
  100% {background-color: rgb(129, 187, 117);}
}

td:not(:empty){
  background-color: rgb(129, 187, 117);
}