body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    border: solid black 0.2em;
    border-radius: 10px;
    display: grid;
    background-color: rgb(211, 211, 211);
    width: 40em;
    height: 50em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

.resultado{
    grid-column: 1/4;
    border-bottom: solid black 0.1em;
    grid-row: 1;
    background-color: white;
    height: 100px;
}

.texto{
    direction: rtl;
    width: 100%;
}

.botones{
    grid-column: 1/4;
    grid-row: 2/7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1hw);
    grid-gap: 10px;
    padding: 10px;
}

.botones>div{
    border: solid black 0.1em;
    border-radius: 5px;
    
}

.c{
    grid-column: 1/4;
    grid-row: 1;
    background-color: rgb(63, 63, 255);
}

.c>button, .igual>button{
    color: white;
}

.c>button{
    background-color: rgb(63, 63, 255);
}

.cero{
    grid-column: 1/4;
    grid-row: 5;
}

.igual>button{
    background-color: rgb(82, 180, 82);
}

button{
    height: 100%;
    width: 100%;
    border: none;
    color: black;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}


