table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 75%;
    height: 50%;
    
}
td,th{
    border: 2px solid black;
    border-collapse: collapse;
}
#image{
    margin-right: 50px;
}
*{
    margin-left: auto;
    margin-right: auto;
}
form{
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
textarea{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5px;
}
#imgPreview{
    align-items: center;
    width: 50%;
    height: 50%;
}
#cuarentaPrincipales{
    width: 80px;
    height: 80px;
    transform: translateY(45%);
}
#googleImg{
    width: 80px;
    height: 30px;
    transform: translateY(45%);
}
#reset{
    margin-left: 20px;
}
#submit{
    margin-left: 40px;
}
#buttons{
    margin-top:20px;
}
.table-container{
    background-color: rgba(255, 150, 150, 0.719);
    height: 90%;
    padding-top: 5%;
}
html, body {  
    margin:0px;  
    height:100%;  
}
.form-container{
    background-color: rgba(255, 219, 142, 0.815);
    padding-top: 5px;
}