table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
#image{
    margin-right: 50px;
}
*{
    margin-left: auto;
    margin-right: auto;
}
form{
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
textarea{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5px;
}
#imgPreview{
    align-items: center;
    width: 50%;
    height: 50%;
}
#cuarentaPrincipales{
    width: 80px;
    height: 80px;
    transform: translateY(45%);
}
#googleImg{
    width: 80px;
    height: 30px;
    transform: translateY(45%);
}